<!--The content below is only a placeholder and can be replaced.-->


<h2>Cats</h2>
<div class="search card1 form-group row">
  <label for="hero-name" style="margin-right: 10px;
  font-size: 25px;">Cat Breed: </label>
  <input class=" col-xs-2 " type="text" #heroName id="hero-name" (keyup)="search(heroName.value)">

  <!-- (click) passes input value to add() and then clears the input -->

  <button class="btn btn-primary" (click)="search(heroName.value)" style="margin-left: 10px;">
    Search
  </button>
  <button class="element1 btn btn-danger" (click)="logout(); heroName.value=''">
    Logout
  </button>
</div>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<table class="heroes">
  <tr>
    <th>Breed</th>
    <th>Country</th>
    <th>Origin</th>
    <th>Coat</th>
    <th>Pattern</th>
  </tr>
  <tr  [appHighlight]="color" *ngFor="let cat of catBreads">
      <td class="country">{{ cat.breed }}</td>
      <td class="country">{{ cat.country }}</td>  
      <td class="country">{{ cat.origin }}</td>  
      <td class="country">{{ cat.coat }}</td>  
      <td class="country">{{ cat.pattern }}</td>  
  </tr>
</table>


<router-outlet></router-outlet>
